header {
    background: tomato;
}

main {
    background: skyblue;
}

footer {
    background: slategray;
    clear: both;
}

.container {
    width: 500px;
    margin : 0 auto; /* 左右の中央揃え */
    /* background: pink; */
}

/* footerの背景色をページの下に延ばす時のテクニック */
/* 
body {
    background: slategray;
} 
*/

#eyechatch {
    background: url("eyechatch.jpg") no-repeat;
    background-size: cover;
    background-position: 50% 20%; /* 伸縮の基準位置(x y)。デフォルトは左上。 */
    height: 100px;
}

.left1 {
    background: limegreen;
    float: left;
    width: 180px;
    margin-right: 20px; /* 余白 */
}

.right1 {
    background: lightgreen;
    float: right;
    width: 300px;
}

.left2 {
    background: limegreen;
    float: left;
    width: 180px;
}

.right2 {
    background: lightgreen;
    float: right;
    width: 300px;
}

.left3, .right3 {
  padding: 10px;
  box-sizing: border-box
}

.left3 {
  background: limegreen;
  float: left;
  width: 180px;
}

.right3 {
  background: lightgreen;
  float: right;
  width: 300px;
}

#left {
  background: limegreen;
  float: left;
  width: 100px;
  margin-right: 10px;
}

#center {
  background: seagreen;
  float: left;
  width: 280px;
  /*margin-right: 10px;*/
}

#right {
  background: lightgreen;
  /*float: left;*/
  float: right;
  width: 100px;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.clear {
    overflow: hidden;
}


