/*
【　セレクタ { プロパティ名: 値; }　】

* ：ユニバーサルクラスタ。全セレクタを指す。『*.{color...}』とか。
要素名：p とか h1 とかのタグ。
# ： id
. ： class
================================================
a, b ：aとbが対象
a b  ：aの下の階層の b全てが対象
a > b：a直下の階層の bだけが対照
a + b：aの次のbが対象
a.x  ：a要素かつ、classが「x」
================================================
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
【　属性セレクタ　】
タグ[属性] { プロパティ名: 値; }

━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ぎ━━━━━━
【　疑似クラス　】
ある要素が特定の状態にある場合にスタイルを指定するための、
特殊なセレクタ。

━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

*/
* {
    color: skyblue;
}
#first {
    color:orange;
}
.points {
    color:violet;
}
/*-------------------------------------*/
h2, blockquote { color:burlywood;}

/* devの下の階層の span全てが対象 */
div span {color:rgb(47, 45, 170);}

/* dev直下の階層の spanだけが対象 */
div > span {color:rgb(211, 90, 9);}

/* pの次の p要素が対象 */
p + p  {color:rgb(165, 11, 127);}

/* p要素かつ、classが「point」が対象 */
p.points {color:rgb(40, 5, 95);}

/*
【　属性セレクタ　】
*/

/* aタグのtitle属性が対照 */
a[title] {color:blue}

/* aタグのhref属性が「google.co.jp」が対照 */
a[href="http://google.co.jp"] {color:red}

/* aタグのclass属性に「search」が含まれているものが対照 */
a[class~="search"] {color:green}

/*
【　疑似クラス　】
*/

/* ul > liの、最初の要素だけに、特定の style を適用。 */
ul li:first-child {color:blueviolet}

/* 
* {
    color: black
}
*/